h2, h3 {
  text-align: center;
}
h1 {
  font-size: 70px;
}
.navbar-default {
  border: none;
}
.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.panel-heading{
  border: none;
}
.panel-title {
  border: none;
  font-size: 40px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
.panel-default {
  border: none;
}
.panel-body {
  border: none; !important
}
.panel {
  border: none;
  background-color: none;
}
.panel-group {
  border: none;
}
.in {
  border: none;
}
.panel-collapse {
  border: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: white;
}
#navBanner {
  width: 100%;
  position: relative;
  opacity: 0.6
}
#navBannerBottom {
  width: 100%;
  position: relative;
  padding-top: 100px;
    opacity: 0.6
}

nav > div {
  text-align: center;
}

.navbar-brand {
  font-size: 65px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}
.navbar-nav > li {
  text-transform: capitalize;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-size: 18px;
}
.breakerSection {
  font-size: 80px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  color: rgb(102, 102, 102);
  padding-top: 200px;
  padding-bottom: 300px;
}
.breakerSectionSmall {
  font-size: 70px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  color: rgb(102, 102, 102);
  padding-top: 100px;
  padding-bottom: 100px;
}


/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
